<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Gourmet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Restaurante Gourmet</h1>
    </header>

    <main>
        {% block contenido %}{% endblock %}
    </main>

    <footer>
        <p><center>Restaurante Gourmet</center></p>
    </footer>

</body>
</html>